
<div class="hero-home">

  <div class="hero-content">

    <div class="text">
      <div class="text1">ARTISAN BAKERY & MORE</div>
      <div class="text2">HOLY BAKERY</div>
      <div class="text3">INSPIRED BY COPENHAGEN</div>

      <div class="buttons">
        <%= link_to t(:shop), about_path, class: "button" %>
        <%= link_to t(:menu), about_path, class: "button" %>
      </div>

    </div>


    <div class="hero-home-svg">
      <div class="svg-text">SCROLL DOWN</div>
      <%= image_tag 'line.svg', alt: 'Line that shows to scroll' %>
    </div>

  </div>

</div>

<%# https://res.cloudinary.com/debbxeflb/image/upload/v1720858542/cake_kgedsq.jpg %>
