
<div class="hero-home">
  <div class="text">
    <div class="text1">ARTISAN BAKERY & MORE</div>
    <div class="text2">HOLY BAKERY</div>
    <div class="text3">INSPIRED BY COPENHAGEN</div>
    <div class="buttons">
      <%= link_to t(:shop), shop_path %>
      <%= link_to t(:menu), menu_path %>
    </div>
  </div>
</div>
