<div class="products-hero" style="background-image: url('<%= asset_path('admin.JPG') %>'); background-position: center;">
  <div class="products-content">
    <div class="hero-products-text">
      ADMIN
    </div>
  </div>
</div>


<div class="admin-content">

</div>


<div class="products-footer" style="background-image: url('<%= asset_path('admin.JPG') %>'); background-position: center;">
  <%= render 'components/footer' %>
</div>
