<h1><%= t('hello') %></h1>

<i class="fa-solid fa-bars-staggered"></i>


<section>hei</section>
<section>hei</section>
<section>hei</section>
<section>hei</section>
<section>hei</section>
<style>
  section {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
  }
</style>
