<div class="workshop-page">
  <div class="text">
    <div class="text1"><%= t('workshop_page.title') %></div>
    <div class="text2"><%= t('workshop_page.coming_soon') %></div>
    <div class="text3">
      <%= raw(t('workshop_page.subscribe_message')) %>
    </div>
  </div>
</div>
