.bold {
  font-weight: var(--bold);
}

// .feature {
//   font-size: 1.2rem;
//   font-weight: var(--medium);
//   padding: 90px 60px;
//   text-shadow: 5px 5px 2px rgba(18, 40, 85, 0.25);

//   display: grid;
//   grid-template-columns: 2fr 1fr 5fr;
//   height: auto;
// }

.f2 {
  // padding: 0 20px;
  display: flex;
  align-items: center;
}

.f2 img {
  width: 100%;
  max-width: 150px;
  height: auto;
}

.f3 {
  text-align: end;
  display: flex;
  align-items: end;

  div {
    text-align: end;
  }
}
.bold {
  font-weight: var(--bold);
}

.feature {
  font-size: 1.2rem;
  font-weight: var(--medium);
  padding: 70px 60px;
  text-shadow: 5px 5px 2px rgba(18, 40, 85, 0.25);

  display: grid;
  grid-template-columns: 2fr 1fr 5fr;
  height: auto;
}

.f2 {
  // padding: 0 20px;
  display: flex;
  align-items: center;
}

.f2 img {
  width: 100%;
  max-width: 150px;
  height: auto;
}

.f3 {
  text-align: end;
  display: flex;
  align-items: end;

  div {
    text-align: end;
  }
}


.thin-font {
  font-weight: var(--light);
  font-style: italic;
}

.not-just-taste {
  color: var(--blue);
  font-weight: var(--extra-bold);
}


@media (max-width: 767px) {
  .feature {
    height: 25vh;
    display: flex;
    // flex-direction: column;
    flex-direction: row;
    padding: 30px 20px;
    font-size: 0.8rem;
  }

  .f2 {
    padding: 0 20px;
    display: flex;
    align-items: center;
    justify-content: center;

  }

  .f1 {
    width: 45%;
  }

  // .um {
  //   // width: 50%;
  //   // display: flex;
  //   // flex-direction: column;
  //   // align-items: end;
  // }

  .f3 {
    width: 100%;
    // position: relative;
    // transform: translateY(-130px);
    // justify-content: end;

    width: 100%;
    display: flex;
    align-items: end;
    justify-content: end;

  }

  // .f2 img {
  //   position: relative;

  //   // transform: translateX(-30%) translateY(-35%) rotate(40deg);
  //   // width: 100px;

  //   transform: translateX(-0%) translateY(-45%);
  //   width: 90px;
  // }

}
