// @import "../body";

.hero-home {
  width: 100vw;
  height: 100vh;
  // background-image: url("https://res.cloudinary.com/debbxeflb/image/upload/v1720858542/cake_kgedsq.jpg");
  background-image: url("https://res.cloudinary.com/debbxeflb/image/upload/v1721113273/DSC00541_ojasiu.jpg");
  background-size: cover;
  background-position: top;

  filter: brightness(100%);

  background-size: 170%;
  background-position-x: calc(50% + 80px);
  background-position-y: center;
}

.hero-home .text {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: end;
  align-items: center;
  flex-direction: column;
  gap: 10px;
}

.hero-home .text1 {
  font-weight: var(--bold);
  font-size: 1rem;
  color: var(--blue);
}

.hero-home .text2 {
  font-weight: var(--black);
  font-size: 2.5rem;
  color: black;
}

.hero-home .text3 {
  font-weight: var(--bold);
  font-size: 1rem;
  color: var(--blue);
}

.hero-content {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-rows: 2fr 1fr;

}

.hero-home-svg {
  position: absolute;
  bottom: 0px;
  right: 10%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
}

.hero-home-svg {
  img {
    width: 0.1vw;
    height: 7vh;
  }
}
.svg-text {
  font-weight: var(--extra-light);
  color: var(--yellow);
  font-size: 0.6rem;
  padding: 5px;
  white-space: nowrap;
}

.buttons {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 7%;
  padding: 20px;
}

@media (max-width: 836px) {
  .hero-home {
    background-repeat: no-repeat;
    background-size: 200%;
    background-position: 27% bottom;
  }
}

@media (max-width: 730px) {
  .hero-home{
    background-repeat: no-repeat;
    background-size: 350%;
    background-position: 27% bottom;
  }

  .hero-home .text1, .hero-home .text3 {
    font-size: 0.7rem;
  }

  .button {
    padding: 5px 20px;
    font-size: 0.8rem;
  }

  .hero-home .text2 {
    font-size: 2rem;
  }
}
