:root {
  --white: #F8F6F0;
  --yellow: #EFB73E;
  --blue: #122855;
}

$font-weight-thin: 100;
$font-weight-extra-light: 200;
$font-weight-light: 300;
$font-weight-regular: 400;
$font-weight-medium: 500;
$font-weight-semi-bold: 600;
$font-weight-bold: 700;
$font-weight-extra-bold: 800;
$font-weight-black: 900;

// Define font family
$font-family-montserrat: 'Montserrat', sans-serif;

body {
  font-family: $font-family-montserrat;
  font-weight: $font-weight-regular;
  background-color: var(--white);
}

html, body {
  margin: 0;
  // padding: 0;
  height: 100%;
  width: 100%;
  // overflow: hidden;
}

a {
  text-decoration: none;
  position: relative;
  color: black;
  transition: width 0.3s ease, left 0.3s ease;

  &::before {
    content: ""; /* Required for pseudo-elements */
    position: absolute;
    left: 50%;
    // right: 50%;
    // top: 5px;
    bottom: -5px; /* Position the line at the bottom of the link */
    width: 0; /* Start with zero width */
    height: 2px; /* Line thickness */
    background-color: var(--yellow); /* Line color */
    transition: width 0.3s ease, left 0.3s ease; /* Smooth transition */
    // transform: translateX(-20%); /* Center the line */
  }

  &:hover::before {
    width: 100%; /* Expand to full width on hover */
    left: 0; /* Ensure line starts from the left edge */
  }

  &:hover {
    // font-weight: $font-weight-semi-bold;
    color: var(--yellow);
  }

}
