.navbar {
  background-color: transparent;
  display: flex;
  justify-content: space-between;
  font-size: 0.8rem;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  transition: background-color 0.3s;
  color: white;

  padding: 5px;
}

.hidden {
  visibility: collapse;
}

.navbar.scrolled {
  background-color: var(--white);
  color: black;

  a {
    color: black;
  }
}

.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  width: 40%;
  height: 100%;
  background-color: var(--blue);
  color: black;
  z-index: 1001;
  transform: translateX(-100%);
  transition: transform 0.3s ease;
}

.sidebar.open {
  transform: translateX(0);
  visibility: visible;
}

.sidebar.hidden {
  visibility: hidden;
}

.sidebar .sidebar-content {
  padding: 20px;
}

.sidebar .close-icon {
  font-size: 1.5rem;
  cursor: pointer;
  text-align: right;
}

.navbar .details{
  display: flex;
  gap: 20px;
  flex-direction: row-reverse;
  padding: 5px;
  margin-right: 5px;
}

.navbar .logo {
  background-image: url('https://res.cloudinary.com/debbxeflb/image/upload/v1721034887/color_transparent1_u4ujtg.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;

  padding: 0;
  width: 50px;
  aspect-ratio: 1;
  position: relative;
  top: 0;
  margin: 0;
}

@media (max-width: 730px) {

  .icon {
    font-size: 1.5rem;
    padding: 10px;
    color: var(--yellow);
    border: 1px solid var(--yellow);
  }

  .navbar .details {
    display: none;
  }

  .sidebar .sidebar-content .link {
    display: block;
    margin: 10px 0;
  }

  .sidebar .sidebar-content .link {
    display: block;
    margin: 10px 0;
  }

}


.dropdown-open {
  animation: 0.2s dropdownOpen;
}

.dropdown-close {
  animation: 0.2s dropdownClose;
}

@keyframes dropdownOpen {
  from {
    scale: 0;
  }

  to {
    scale: 1;
  }
}

@keyframes dropdownClose {
  to {
    scale: 0;
  }
}

.bmc-btn {
  position: fixed;
  bottom: 1rem;
  right: 1rem;
}

/* General Styles */
.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-btn {
  font-size: 0.8rem;
  color: white;
  background: transparent;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: center;
  cursor: pointer;
  border: 1px solid var(--blue);

  font-family: var(--montserrat);
  font-weight: 400;
}

.dropdown-btn:hover {
  background-color: var(--blue);
  color: var(--yellow);
  transition: background-color 0.3s;
}

.dropdown-icon {
  margin-left: 8px;
}

.dropdown-menu {
  display: none;
  position: absolute;
  left: -50px;
  top: 100%;
  margin-top: 0;
  background-color: rgba(0, 0, 0, 0.5);
  width: 200px;
  border-radius: 5px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  font-size: 14px;
  border: 1px solid #3f3f3f;
}

.dropdown-header {
  padding: 10px 12px;
  border-bottom: 1px solid #3f3f3f;
  color: white;
}

.dropdown-section {
  padding: 8px 0;
}

.dropdown-item {
  width: 100%;
  padding: 8px 12px;
  background-color: transparent;
  border: none;
  color: white;
  text-align: left;
  cursor: pointer;
  border-radius: 4px;
}

.dropdown-item:hover {
  background-color: var(--blue);
  color: var(--white);
  transition: background-color 0.3s;
}

/* Show dropdown on button click */
.dropdown.open .dropdown-menu {
  display: block;
}
