
body {
  font-family: var(--montserrat);
  font-weight: var(--regular);
  background-color: var(--white);
}

* {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
  // height: 100%;
  // width: 100%;
  overflow-x: hidden;
  // overflow-x: hidden;
}

.link {
  text-decoration: none;
  position: relative;
  color: white;
  transition: width 0.3s ease, left 0.3s ease;

  &::before {
    content: ""; /* Required for pseudo-elements */
    position: absolute;
    left: 50%;
    // right: 50%;
    // top: 5px;
    bottom: -5px; /* Position the line at the bottom of the link */
    width: 0; /* Start with zero width */
    height: 2px; /* Line thickness */
    background-color: var(--yellow); /* Line color */
    transition: width 0.3s ease, left 0.3s ease; /* Smooth transition */
    // transform: translateX(-20%); /* Center the line */
  }

  &:hover::before {
    width: 100%; /* Expand to full width on hover */
    left: 0; /* Ensure line starts from the left edge */
  }

  &:hover {
    // font-weight: $font-weight-semi-bold;
    color: var(--yellow);
  }

}
