:root {
  --white: #F8F6F0;
  --yellow: #EFB73E;
  --blue: #122855;

  --thin: 100;
  --extra-light: 200;
  --light: 300;
  --regular: 400;
  --medium: 500;
  --semi-bold: 600;
  --bold: 700;
  --extra-bold: 800;
  --black: 900;

  --montserrat: 'Montserrat', sans-serif;
}
